<!DOCTYPE html>
<html lang="en">

<head>
    <title>Components</title>


<!-- THIS IS A LINK TO THE EXTERNAL .CSS --> 
  <link rel="stylesheet" type="text/css" href="css/layout.css">

</head>

<body>


<!-- Component #1: Hero -->
<div class="component-grid-hero">
    <div class="img-left">IMG</div>
    <div class="component-grid-hero-text">
        <div class="h2 hero-headline">Feels like film. Shot on iPhone.</div>
        <div class="h5 hero-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
    </div>
</div>    

<!-- Component #2: 3 Text Left -->
<div class="component-3text-left">
    <div class="component-3text-left-text">
        <div class="h4 three-text-1">Ut enim ad minim veniam, quis nostrud.</div>
        <div class="h2 three-text-2">Another great headline. Wow. </div>
        <div class="h5 three-text-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        </div>
    </div>
    <div class="img-right">IMG</div>
</div> 

<!-- Component #3: Centered Copy -->
<div class="component-centered-copy">
    <div class="h1 centered-copy-headline">Another great headline. Wow.</div>
     <div class="h5 centered-copy-body">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    </div>
        
</div> 




</div>

</body>

</html>